* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 450px;
}

.Data {
  margin: 20px 30px;
}
.image {
  width: 100%;
  display: inline;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro h1 {
  text-align: center;
  margin-bottom: 10px;
}
.Skill-List {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
}

.Skills {
  display: flex;
  padding: 2px 12px;
  align-items: center;
  border-radius: 5px;
  gap: 8px;
}
